.cell-span-table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell {
    -fx-skin: "net.jonathangiles.hacking.tableview.cellSpan.impl.CellSpanTableRowSkin";
}

.cell-span-table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell {
    -fx-background-color: transparent;
} 

/* All table-row-cells - we don't care if they are even or odd */
.cell-span-table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 1 1 0;
    -fx-alignment: center;
}

/** Selection styles */
/*.cell-span-table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell:focused:selected, */
.cell-span-table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected > .table-cell,
.cell-span-table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:focused:selected > .table-cell,
.cell-span-table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:focused:selected:hover > .table-cell,
.cell-span-table-view:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell:filled:selected,
.cell-span-table-view:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell:filled:focused:selected,
.cell-span-table-view:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell:filled:focused:selected:hover {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 2 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}


/** Hover styles */
/** --- Row selection mode hover */
.cell-span-table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:hover > .table-cell { 
    -fx-background-color: -fx-table-cell-border-color, -fx-cell-hover-color;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-fill: -fx-text-inner-color;
}

.cell-span-table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:focused:hover > .table-cell  { 
    -fx-background-color: -fx-table-cell-border-color, -fx-focus-color, -fx-cell-focus-inner-border, -fx-cell-hover-color;
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 2 3 2, 3 3 4 3;
    -fx-text-fill: -fx-text-inner-color;
}

/** --- Cell selection mode hover */
.cell-span-table-view:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled > .table-cell:hover {
    -fx-background-color: -fx-table-cell-border-color, -fx-cell-hover-color;
    -fx-text-fill: -fx-text-inner-color;
    -fx-background-insets: 0, 0 0 1 0;
}

.cell-span-table-view:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled > .table-cell:focused:hover {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-cell-hover-color;
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 2 2;
    -fx-text-fill: -fx-text-inner-color;
}
/** End of hover styles */