.root {
    -fx-focus-color: #ED7D31;
    -fx-faint-focus-color: #ED7D3122;
    -fx-default-button: #ED7D31;
    
    -fx-cell-hover-color: #ED7D31;
    
    -fx-accent: #ED7D31;
    
    -fx-selection-bar: #ED7D31;
    -fx-selection-bar-text-fill: white;
    
    -fx-font-family: "calibri";
}

.launch-title-label-top {
    -fx-background-color: #595959;
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-family: 'calibri';
}

.launch-title-label-bottom {
    -fx-background-color: #ED7D31;
    -fx-text-fill: white;
    -fx-font-size: 48px;
    -fx-font-family: 'calibri';
}

.launch-info-text {
    -fx-background-color: white;
}

.launch-info-text .text {
    -fx-text-alignment: center; 
}

.intro-instructions {
    -fx-background-color: white;
    -fx-font-size: 32;
    -fx-font-family: 'calibri';
    -fx-text-alignment: center;
}

.intro-begin-button {
    -fx-font-size: 36;
    -fx-font-family: "calibri";
    /*-fx-background-color: #29abe2;*/
    -fx-default-button: #29abe2;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

.flow-step-start {
    -fx-background-color: #ED7D31;
    -fx-shape: 'M 0 0 L 200 0 L 225 50 L 200 100 L 0 100 z';
    -fx-text-fill: white;
    -fx-font-family: 'calibri';
    -fx-font-size: 30px;
}

.flow-step {
    -fx-background-color: #ED7D31;
    -fx-shape: 'M 0 0 L 200 0 L 225 50 L 200 100 L 0 100 L 25 50 z';
    -fx-text-fill: white;
    -fx-font-family: 'calibri';
    -fx-font-size: 30px;
}

.flow-step-end {
    -fx-background-color: #ED7D31;
    -fx-shape: 'M 0 0 L 225 0 L 225 100 L 0 100 L 25 50 z';
    -fx-text-fill: white;
    -fx-font-family: 'calibri';
    -fx-font-size: 30px;
}

.flow-step-start-small {
    -fx-background-color: #ED7D31;
    -fx-shape: 'M 0 0 L 100 0 L 125 50 L 100 100 L 0 100 z';
    -fx-text-fill: white;
    -fx-font-family: 'calibri';
    -fx-font-size: 30px;
}

.flow-step-small {
    -fx-background-color: #ED7D31;
    -fx-shape: 'M 0 0 L 100 0 L 125 50 L 100 100 L 0 100 L 25 50 z';
    -fx-text-fill: white;
    -fx-font-family: 'calibri';
    -fx-font-size: 30px;
}

.flow-step-end-small {
    -fx-background-color: #ED7D31;
    -fx-shape: 'M 0 0 L 125 0 L 125 100 L 0 100 L 25 50 z';
    -fx-text-fill: white;
    -fx-font-family: 'calibri';
    -fx-font-size: 30px;
}

.sub-flow-step-start {
    -fx-background-color: #833C0C;
    -fx-shape: 'M 0 0 L 400 0 L 425 25 L 400 50 L 0 50 z';
    -fx-text-fill: white;
    -fx-font-family: 'calibri';
    -fx-font-size: 16px;
}

.sub-flow-step {
    -fx-background-color: #833C0C;
    /*-fx-shape: 'M 0 0 L 100 0 L 125 25 L 100 50 L 0 50 L 25 25 z';*/
    -fx-shape: 'M 0 0 L 400 0 L 425 25 L 400 50 L 0 50 L 25 25 z';
    -fx-text-fill: white;
    -fx-font-family: 'calibri';
    -fx-font-size: 16px;
}

.sub-flow-step-end {
    -fx-background-color: #833C0C;
    -fx-shape: 'M 0 0 L 425 0 L 425 50 L 0 50 L 25 25 z';
    -fx-text-fill: white;
    -fx-font-family: 'calibri';
    -fx-font-size: 16px;
}

.sub-flow-prev {

}

.sub-flow-next {

}

.step-subpagination-flow-style { 
    -fx-page-information-visible: false;
    /*-fx-arrows-visible: false;*/
}

.step-subpagination-flow-style .toggle-button {
    -fx-background-color: #ED7D31;
    -fx-shape: 'M 0 0 L 100 0 L 125 50 L 100 100 L 0 100 L 25 50 z';
    -fx-text-fill: #ED7D31; /* white */
    -fx-font-size: 14px;
}

.step-subpagination-flow-style .toggle-button:selected {
    -fx-background-color: #833C0C;
    -fx-text-fill: #833C0C; /* white */
}

.gen-info-label-style {
    -fx-text-alignment: center;
    -fx-text-fill: black;
    -fx-font-family: 'calibri';
    -fx-font-size: 18px;
}

.wz-input-title-style {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: #bac5cc;
    -fx-font-family: 'calibri';
    -fx-wrap-text: true;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.wz-input-label-style {
    -fx-text-alignment: center;
    -fx-text-fill: black;
    -fx-font-family: 'calibri';
    -fx-font-size: 18px;
}

.wz-input-hyperlink-small-superscript {
    -fx-font-size: 10;
    -fx-alignment: top-left;
}

.wz-input-hyperlink-small-superscript:visited {
    -fx-font-size: 10;
    -fx-alignment: top-left;
    -fx-text-fill: #ED7D31;
}

.wz-input-hyperlink {
    -fx-font-size: 18;
    -fx-text-fill: #ED7D31;
}

.wz-input-hyperlink:visited {
    -fx-font-size: 18;
    -fx-text-fill: #ED7D31;
}

.wz-input-hyperlink-black {
    -fx-font-size: 18;
    -fx-text-fill: white;
}

.wzits-choice-box {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.question-visible {
    -fx-background-color: -fx-table-cell-border-color, white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-text-fill: black;
}

.question-hidden {
    -fx-background-color: -fx-table-cell-border-color, lightgrey;
    -fx-background-insets: 0, 1 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-text-fill:darkgray;
}

.col-style-center {
    -fx-alignment: center;
}

.col-style-center-bold {
    -fx-alignment: center;
    -fx-font-weight: bold;
}

.col-style-blue {
    -fx-text-fill: blue;
}

.step-one-table {
    -fx-selection-bar-text: black;
    -fx-font-size: 18;
}

.step-one-table .column-header-background {
    -fx-background-color: #bac5cc;
}

.step-one-table .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

.step-one-table .column-header {
    -fx-background-color: transparent;
}

.step-one-table .table-cell {
    -fx-text-fill: black;
}

.step-one-table .table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}
.step-one-table .table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.step-one-table .table-row-cell:selected{
    -fx-background-color: -fx-table-cell-border-color, white;
    -fx-background-insets: 0, 1 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.step-selection-table {
    -fx-selection-bar-text: black;
    -fx-font-size: 18;
}

.step-selection-table .column-header-background {
    -fx-background-color: #ED7D31;
}

.step-selection-table .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

.step-selection-table .column-header {
    -fx-background-color: transparent;
}

.step-selection-table .table-cell {
    -fx-text-fill: black;
}

.step-selection-table .table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}
.step-selection-table .table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.step-selection-table .table-row-cell:selected{
    -fx-background-color: -fx-table-cell-border-color, white;
    -fx-background-insets: 0, 1 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.step-summary-table {
    -fx-accent: #4472c4;
    -fx-font-size: 18;
}

.step-summary-table .column-header-background{
    -fx-background-color: #4472c4;
}

.step-summary-table .column-header-background .label{
    -fx-background-color: transparent;
    -fx-wrap-text: true;
    -fx-text-fill: white;
}

.step-summary-table .column-header {
    -fx-background-color: transparent;
}

.step-summary-table .table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #ddebf7;  /* #c6e0b4 Green from User Needs Wizard */
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.step-summary-table .table-row-cell:selected{
    -fx-table-cell-border-color: #ddebf7;
    -fx-background-color: #ED7D31;
    -fx-background-insets: 0, 2 2 2 2;
    -fx-padding: 0.0em; /* 0 */
}

.step-summary-table .table-row-cell:selected .text{
    -fx-fill: black;
}

.step-output-title {
    -fx-background-color: #3366FF;
    -fx-text-fill: white;
    -fx-font-size: 28px;
    -fx-alignment: center;
}

.substep-title-label {
    -fx-background-color: #595959; /* Dark Grey: #595959   Navy: #0E298C*/
    -fx-text-fill: white;
    -fx-font-size: 24;
    -fx-font-family: 'calibri';
    -fx-alignment: center;
}

.navigator {
    
}

.navigator .tree-cell:selected {
    -fx-background-color: #ED7D31;
    -fx-text-fill: white;
}

.progress-bar {
    -fx-accent: #ED7D31; /**/
}

.output-dashboard {
    /*-fx-background-color: white;*/
    /*-fx-border-color: #bac5cc;*/
    /*-fx-border-width: 1px;*/
}

.status-bar {
    -fx-border-color: #bac5cc;
    -fx-border-width: 1px;
}

.status-bar .content BorderPane {
    -fx-padding: 0em 0em 0.1em 0.4em;
}

.dashboard-toggle,
.dashboard-toggle:focused {
/*    -fx-background-color: transparent;*/
/*    -fx-text-fill: black;*/
    -fx-background-radius: 0.1em 0em 0em 0.1em;
}

.dashboard-toggle:selected,
.dashboard-toggle:selected:focused { 
    -fx-background-color: #ED7D31;
    -fx-text-fill:white;
    -fx-background-radius: 0em;
}

.dashboard-tab-selector {
    -fx-border-color: #ED7D31;
    -fx-border-width: 0px 0px 0px 0px;
}

.dashboard-tab {
    -fx-border-color: #ED7D31;
    -fx-border-width: 5px 5px 5px 10px;
}

.opt-pane-title {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: #bac5cc;
    -fx-font-family: 'calibri';
    -fx-wrap-text: true;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-padding: 0 5 0 5;
}

.opt-pane-question {
    -fx-background-color: white;
    -fx-font-family: 'calibri';
    -fx-font-size: 18;
}

.opt-pane-question-idx {
    -fx-alignment: center;
    -fx-background-color: white;
    -fx-font-family: 'calibri';
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.comment-pane-checkbox {
    -fx-alignment: center;
    -fx-background-color: white;
    -fx-font-family: 'calibri';
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-accent: #ED7D31;
}

.comment-q-pane {
    -fx-background-color: white;
    -fx-border-color: #bac5cc;
    -fx-border-width: 1px 2px 1px 2px;
}

.comment-q-subpane {
    -fx-background-color: white;
}

.markall-pane-checkbox {
    -fx-alignment: center;
    -fx-background-color: white;
    -fx-font-family: 'calibri';
    -fx-font-size: 18;
    -fx-accent: #ED7D31;
}


.opt-pane-question-response {
    -fx-alignment: center;
    -fx-background-color: #ED7D31;
    -fx-font-family: 'calibri';
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.feasibility-output-title-bold {
    -fx-background-color: #4472c4;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-font-family: 'calibri';
    -fx-font-size: 28;
}

.feasibility-output-title {
    -fx-background-color: #ddebf7;
    -fx-alignment: center;
    -fx-font-family: 'calibri';
    -fx-font-size: 28;
}

.feasibility-output-desc {
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-font-family: 'calibri';
    -fx-font-size: 20;
}

.list-table-core-team {
    -fx-accent: #4ac974;
    -fx-font-size: 18;
}

.list-table-core-team .column-header-background{
    -fx-background-color: #4ac974;
}

.list-table-core-team .column-header-background .label{
    -fx-background-color: transparent;
    -fx-wrap-text: true;
    -fx-text-fill: black;
}

.list-table-core-team .column-header {
    -fx-background-color: transparent;
}

.list-table-core-team .table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #bce5c9;  /* #c6e0b4 Green from User Needs Wizard */
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.list-table-core-team .table-row-cell:selected{
    -fx-table-cell-border-color: #bce5c9;
    -fx-background-color: #ED7D31;
    -fx-background-insets: 0, 2 2 2 2;
    -fx-padding: 0.0em; /* 0 */
}

.list-table-core-team .table-row-cell:selected .text{
    -fx-fill: black;
}

.list-table-stakeholder {
    -fx-accent: #f7f56a;
    -fx-font-size: 18;
}

.list-table-stakeholder .column-header-background{
    -fx-background-color: #f7f56a;
}

.list-table-stakeholder .column-header-background .label{
    -fx-background-color: transparent;
    -fx-wrap-text: true;
    -fx-text-fill: black;
}

.list-table-stakeholder .column-header {
    -fx-background-color: transparent;
}

.list-table-stakeholder .table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #fcfbbd;  /* #c6e0b4 Green from User Needs Wizard */
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.list-table-stakeholder .table-row-cell:selected{
    -fx-table-cell-border-color: #fcfbbd;
    -fx-background-color: #ED7D31;
    -fx-background-insets: 0, 2 2 2 2;
    -fx-padding: 0.0em; /* 0 */
}

.list-table-stakeholder .table-row-cell:selected .text{
    -fx-fill: black;
}

.list-table-na {
    -fx-accent: #bac5cc;
    -fx-font-size: 18;
}

.list-table-na .column-header-background{
    -fx-background-color: #bac5cc;
}

.list-table-na .column-header-background .label{
    -fx-background-color: transparent;
    -fx-wrap-text: true;
    -fx-text-fill: black;
}

.list-table-na .column-header {
    -fx-background-color: transparent;
}

.list-table-na .table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, white;  /* #c6e0b4 Green from User Needs Wizard */
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.list-table-na .table-row-cell:selected{
    -fx-table-cell-border-color: white;
    -fx-background-color: #ED7D31;
    -fx-background-insets: 0, 2 2 2 2;
    -fx-padding: 0.0em; /* 0 */
}

.list-table-na .table-row-cell:selected .text{
    -fx-fill: black;
}

.fact-sheet-pane {
    -fx-background-color: white;
    -fx-border-width: 1px 1px 1px 1px;
}

.fact-sheet-pane-info {
    -fx-border-color: black;
}

.fact-sheet-pane-goal {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px 1px 1px 1px;
}

.fact-sheet-pane-feasibility {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2px 2px 2px 2px;
}

.fact-sheet-title-large {
    -fx-background-color: #bac5cc;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-font-family: 'calibri';
    -fx-border-color: black;
    -fx-border-width: 2px 2px 1px 2px;
}
.fact-sheet-title-small {
    -fx-background-color: #4472c4;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-font-family: 'calibri';
    -fx-border-color: black;
    -fx-border-width: 1px 1px 1px 1px;
}

.fact-sheet-label {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 16;
    -fx-font-family: 'calibri';
    -fx-text-overrun: ellipsis;
    -fx-wrap-text: true;
    -fx-border-color: black;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-padding: 0 0 0 5;
}

.fact-sheet-label-center {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 16;
    -fx-font-family: 'calibri';
    -fx-text-overrun: ellipsis;
    -fx-wrap-text: true;
    -fx-border-color: black;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-padding: 0 0 0 5;
    -fx-alignment: center;
}

.fact-sheet-label-bold {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-font-family: 'calibri';
    -fx-text-overrun: ellipsis;
    -fx-wrap-text: true;
    -fx-border-color: black;
    -fx-border-width: 1px 1px 1px 2px;
    -fx-padding: 0 0 0 5;
}

.fact-sheet-label-url {
    -fx-background-color: white;
    -fx-text-fill: dodgerblue;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-font-family: 'calibri';
    -fx-text-overrun: ellipsis;
    -fx-wrap-text: true;
    -fx-border-color: black;
    -fx-border-width: 1px 1px 1px 1px;
}

.fact-sheet-description {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 16;
    -fx-font-family: 'calibri';
    -fx-text-overrun: ellipsis;
    -fx-wrap-text: true;
    -fx-border-color: black;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-padding: 0 0 0 5;
}

.fact-sheet-label-goal-bold {
    -fx-background-color: #ddebf7;
    -fx-text-fill: black;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-font-family: 'calibri';
    -fx-text-overrun: ellipsis;
    -fx-wrap-text: true;
    -fx-border-color: black;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-padding: 2 0 2 5;
}

.fact-sheet-label-goal-bold-center {
    -fx-background-color: #ddebf7;
    -fx-text-fill: black;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-font-family: 'calibri';
    -fx-text-overrun: ellipsis;
    -fx-wrap-text: true;
    -fx-border-color: black;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-padding: 2 0 2 5;
    -fx-alignment: center;
}

.fact-sheet-label-goal {
    -fx-background-color: #ddebf7;
    -fx-text-fill: black;
    -fx-font-size: 16;
    -fx-font-family: 'calibri';
    -fx-text-overrun: ellipsis;
    -fx-wrap-text: true;
    -fx-border-color: black;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-padding: 2 0 2 5;
}

.fact-sheet-label-goal-center {
    -fx-background-color: #ddebf7;
    -fx-text-fill: black;
    -fx-font-size: 16;
    -fx-font-family: 'calibri';
    -fx-text-overrun: ellipsis;
    -fx-wrap-text: true;
    -fx-border-color: black;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-padding: 2 0 2 5;
    -fx-alignment: center;
}

.fact-sheet-title-stake-grid {
    -fx-background-color: #595959;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-font-family: 'calibri';
    -fx-border-color: black;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-padding: 2 0 2 5;
}
.fact-sheet-title-core-team {
    -fx-background-color: #bac5cc;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-font-family: 'calibri';
    -fx-border-color: black;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-padding: 2 0 2 5;
}
.fact-sheet-title-stakeholder {
    -fx-background-color: #bac5cc;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-font-family: 'calibri';
    -fx-border-color: black;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-padding: 2 0 2 5;
}

.fact-sheet-label-core-team {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 18;
    -fx-font-family: 'calibri';
    -fx-border-color: black;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-padding: 2 0 2 5;
}
.fact-sheet-label-stakeholder {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 18;
    -fx-font-family: 'calibri';
    -fx-border-color: black;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-padding: 2 0 2 5;
}

.cell-span-table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell {
    -fx-skin: "net.jonathangiles.hacking.tableview.cellSpan.impl.CellSpanTableRowSkin";
}

.cell-span-table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell {
    -fx-background-color: transparent;
} 

/* All table-row-cells - we don't care if they are even or odd */
.cell-span-table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 1 1 0;
    -fx-alignment: center;
}

/** Selection styles */
/*.cell-span-table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell:focused:selected, */
.cell-span-table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected > .table-cell,
.cell-span-table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:focused:selected > .table-cell,
.cell-span-table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:focused:selected:hover > .table-cell,
.cell-span-table-view:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell:filled:selected,
.cell-span-table-view:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell:filled:focused:selected,
.cell-span-table-view:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell:filled:focused:selected:hover {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 2 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}


/** Hover styles */
/** --- Row selection mode hover */
.cell-span-table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:hover > .table-cell { 
    -fx-background-color: -fx-table-cell-border-color, -fx-cell-hover-color;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-fill: -fx-text-inner-color;
}

.cell-span-table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:focused:hover > .table-cell  { 
    -fx-background-color: -fx-table-cell-border-color, -fx-focus-color, -fx-cell-focus-inner-border, -fx-cell-hover-color;
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 2 3 2, 3 3 4 3;
    -fx-text-fill: -fx-text-inner-color;
}

/** --- Cell selection mode hover */
.cell-span-table-view:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled > .table-cell:hover {
    -fx-background-color: -fx-table-cell-border-color, -fx-cell-hover-color;
    -fx-text-fill: -fx-text-inner-color;
    -fx-background-insets: 0, 0 0 1 0;
}

.cell-span-table-view:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled > .table-cell:focused:hover {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-cell-hover-color;
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 2 2;
    -fx-text-fill: -fx-text-inner-color;
}
/** End of hover styles */