* {
  -fx-background-dark: #2f2f31;
  -fx-tab-color-selected: #ed7d31; /* #0078d4 */
  -fx-tab-color-hover: #ed7d31; /* #0078d4 */
  -fx-tab-header-background-color: -fx-background-dark;
  -color-wzits-navy: #0E298C;
  -color-wzits-blue: #4472c4;
  -color-wzits-lightblue: #ddebf7;
  -color-wzits-orange: #ED7D31;
  -color-wzits-burnt-orange: #833C0C;
  -color-wzits-darkgrey: #595959;
  -color-wzits-lightgrey: #bac5cc;
  -custom-jfx-hover-unfocus-color: -color-wzits-orange;
}

.root {
  -fx-focus-color: #ed7d31; /* burnt orangeish */
  -fx-faint-focus-color: #ed7d3122;
  -fx-default-button: #ed7d31; /* burnt orangeish */

  -fx-cell-hover-color: #ed7d31;

  -fx-accent: #ed7d31;

  -fx-selection-bar: #ed7d31;
  -fx-selection-bar-text-fill: white;

  -fx-font-family: "calibri";
}

.launch-title-label-top {
  -fx-background-color: #595959;
  -fx-text-fill: white;
  -fx-font-size: 24px;
  -fx-font-family: "calibri";
}

.launch-title-label-bottom {
  -fx-background-color: #ed7d31;
  -fx-text-fill: white;
  -fx-font-size: 48px;
  -fx-font-family: "calibri";
}

.launch-info-text {
  -fx-background-color: white;
}

.launch-info-text .text {
  -fx-text-alignment: center;
}

.intro-instructions {
  -fx-background-color: white;
  -fx-font-size: 32;
  -fx-font-family: "calibri";
  -fx-text-alignment: center;
}

.intro-begin-button {
  -fx-font-size: 36;
  -fx-font-family: "calibri";
  /*-fx-background-color: #29abe2;*/
  /* -fx-default-button: #29abe2; */
  -fx-background-color: #29abe2;
  -fx-text-fill: WHITE;
  -fx-text-alignment: center;
  -jfx-button-type: RAISED;
}

.flow-step-start {
  -fx-background-color: #ed7d31;
  -fx-shape: "M 0 0 L 200 0 L 225 50 L 200 100 L 0 100 z";
  -fx-text-fill: white;
  -fx-font-family: "calibri";
  -fx-font-size: 30px;
}

.flow-step {
  -fx-background-color: #ed7d31;
  -fx-shape: "M 0 0 L 200 0 L 225 50 L 200 100 L 0 100 L 25 50 z";
  -fx-text-fill: white;
  -fx-font-family: "calibri";
  -fx-font-size: 30px;
}

.flow-step-end {
  -fx-background-color: #ed7d31;
  -fx-shape: "M 0 0 L 225 0 L 225 100 L 0 100 L 25 50 z";
  -fx-text-fill: white;
  -fx-font-family: "calibri";
  -fx-font-size: 30px;
}

.flow-step-start-small {
  -fx-background-color: #ed7d31;
  -fx-shape: "M 0 0 L 100 0 L 125 50 L 100 100 L 0 100 z";
  -fx-text-fill: white;
  -fx-font-family: "calibri";
  -fx-font-size: 30px;
}

.flow-step-small {
  -fx-background-color: #ed7d31;
  -fx-shape: "M 0 0 L 100 0 L 125 50 L 100 100 L 0 100 L 25 50 z";
  -fx-text-fill: white;
  -fx-font-family: "calibri";
  -fx-font-size: 30px;
}

.flow-step-end-small {
  -fx-background-color: #ed7d31;
  -fx-shape: "M 0 0 L 125 0 L 125 100 L 0 100 L 25 50 z";
  -fx-text-fill: white;
  -fx-font-family: "calibri";
  -fx-font-size: 30px;
}

.sub-flow-step-start {
  -fx-background-color: #833c0c;
  -fx-shape: "M 0 0 L 400 0 L 425 25 L 400 50 L 0 50 z";
  -fx-text-fill: white;
  -fx-font-family: "calibri";
  -fx-font-size: 16px;
}

.sub-flow-step {
  -fx-background-color: #833c0c; /* brownish */
  /*-fx-shape: 'M 0 0 L 100 0 L 125 25 L 100 50 L 0 50 L 25 25 z';*/
  -fx-shape: "M 0 0 L 400 0 L 425 25 L 400 50 L 0 50 L 25 25 z";
  -fx-text-fill: white;
  -fx-font-family: "calibri";
  -fx-font-size: 16px;
}

.sub-flow-step-end {
  -fx-background-color: #833c0c;
  -fx-shape: "M 0 0 L 425 0 L 425 50 L 0 50 L 25 25 z";
  -fx-text-fill: white;
  -fx-font-family: "calibri";
  -fx-font-size: 16px;
}

.sub-flow-prev {
}

.sub-flow-next {
}

.step-subpagination-flow-style {
  -fx-page-information-visible: false;
  /*-fx-arrows-visible: false;*/
}

.step-subpagination-flow-style .toggle-button {
  -fx-background-color: #ed7d31;
  -fx-shape: "M 0 0 L 100 0 L 125 50 L 100 100 L 0 100 L 25 50 z";
  -fx-text-fill: #ed7d31; /* white */
  -fx-font-size: 14px;
}

.step-subpagination-flow-style .toggle-button:selected {
  -fx-background-color: #833c0c;
  -fx-text-fill: #833c0c; /* white */
}

.gen-info-label-style {
  -fx-text-alignment: center;
  -fx-text-fill: black;
  -fx-font-family: "calibri";
  -fx-font-size: 18px;
}

.wz-input-title-style {
  -fx-text-alignment: center;
  -fx-alignment: center;
  -fx-background-color: #bac5cc; /* blueish gray */
  -fx-font-family: "calibri";
  -fx-wrap-text: true;
  -fx-font-size: 18;
  -fx-font-weight: bold;
}

.wz-input-label-style {
  -fx-text-alignment: center;
  -fx-text-fill: black;
  -fx-font-family: "calibri";
  -fx-font-size: 18px;
}

.wz-input-hyperlink-small-superscript {
  -fx-font-size: 10;
  -fx-alignment: top-left;
}

.wz-input-hyperlink-small-superscript:visited {
  -fx-font-size: 10;
  -fx-alignment: top-left;
  -fx-text-fill: #ed7d31;
}

.wz-input-hyperlink {
  -fx-font-size: 18;
  -fx-text-fill: #ed7d31;
}

.wz-input-hyperlink:visited {
  -fx-font-size: 18;
  -fx-text-fill: #ed7d31;
}

.wz-input-hyperlink-black {
  -fx-font-size: 18;
  -fx-text-fill: white;
}

.hyperlink-add-core {
  -fx-font-size: 12;
  -fx-text-fill: black;
}

.hyperlink-add-core:visited {
  -fx-font-size: 12;
  -fx-text-fill: black;
}

.wz-comment-hyperlink {
  -fx-font-size: 9pt;
  -fx-text-fill: #ed7d31;
  -fx-wrap-text: true;
}

.wz-comment-hyperlink:visited {
  -fx-font-size: 9pt;
  -fx-text-fill: #ed7d31;
  -fx-wrap-text: true;
}
.feasibility-comment-hyperlink {
  -fx-font-size: 12pt;
  -fx-text-fill: #ed7d31;
  -fx-wrap-text: true;
}

.feasibility-comment-hyperlink:visited {
  -fx-font-size: 12pt;
  -fx-text-fill: #ed7d31;
  -fx-wrap-text: true;
}


.wzits-choice-box {
  -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border,
    -fx-inner-border, -fx-body-color;
  -fx-background-insets: 0 0 -1 0, 0, 1, 2;
  -fx-background-radius: 3px, 3px, 2px, 1px;
  -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
  -fx-text-fill: -fx-text-base-color;
  -fx-alignment: CENTER;
  -fx-content-display: LEFT;
}

.question-card {
  -fx-background-color: white;
  -fx-background-radius: 0 0 10 10;
  -fx-border-radius: 0 0 10 10;
  -fx-padding: 5pt;
  -fx-border-color: lightgrey;
  -fx-border-width: 0 1 1 1;
}

.question-visible {
  -fx-background-color: -fx-table-cell-border-color, white;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0em; /* 0 */
  -fx-text-fill: black;
}

.question-hidden {
  -fx-background-color: -fx-table-cell-border-color, lightgrey;
  -fx-background-insets: 0, 1 0 1 0;
  -fx-padding: 0em; /* 0 */
  -fx-text-fill: darkgray;
}

.col-style-center {
  -fx-alignment: center;
}

.col-style-center-bold {
  -fx-alignment: center;
  -fx-font-weight: bold;
}

.col-style-blue {
  -fx-text-fill: blue;
}

.step-one-table {
  -fx-selection-bar-text: black;
  -fx-font-size: 18;
}

.step-one-table .column-header-background {
  -fx-background-color: #bac5cc;
}

.step-one-table .column-header-background .label {
  -fx-background-color: transparent;
  -fx-text-fill: black;
  -fx-wrap-text: true;
  -fx-text-alignment: center;
}

.step-one-table .column-header {
  -fx-background-color: transparent;
}

.step-one-table .table-cell {
  -fx-text-fill: black;
}

.step-one-table .table-row-cell {
  -fx-background-color: -fx-table-cell-border-color, white;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0em; /* 0 */
}
.step-one-table .table-row-cell:odd {
  -fx-background-color: -fx-table-cell-border-color, white;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0em; /* 0 */
}

.step-one-table .table-row-cell:selected {
  -fx-background-color: -fx-table-cell-border-color, white;
  -fx-background-insets: 0, 1 0 1 0;
  -fx-padding: 0em; /* 0 */
}

.step-selection-table {
  -fx-selection-bar-text: black;
  -fx-font-size: 18;
}

.step-selection-table .column-header-background {
  -fx-background-color: #ed7d31;
}

.step-selection-table .column-header-background .label {
  -fx-background-color: transparent;
  -fx-text-fill: black;
  -fx-wrap-text: true;
  -fx-text-alignment: center;
}

.step-selection-table .column-header {
  -fx-background-color: transparent;
}

.step-selection-table .table-cell {
  -fx-text-fill: black;
}

.step-selection-table .table-row-cell {
  -fx-background-color: -fx-table-cell-border-color, white;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0em; /* 0 */
}
.step-selection-table .table-row-cell:odd {
  -fx-background-color: -fx-table-cell-border-color, white;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0em; /* 0 */
}

.step-selection-table .table-row-cell:selected {
  -fx-background-color: -fx-table-cell-border-color, white;
  -fx-background-insets: 0, 1 0 1 0;
  -fx-padding: 0em; /* 0 */
}

.step-summary-table {
  -fx-accent: #4472c4;
  -fx-font-size: 18;
}

.step-summary-table .column-header-background {
  -fx-background-color: #4472c4;
}

.step-summary-table .column-header-background .label {
  -fx-background-color: transparent;
  -fx-wrap-text: true;
  -fx-text-fill: white;
}

.step-summary-table .column-header {
  -fx-background-color: transparent;
}

.step-summary-table .table-row-cell {
  -fx-background-color: -fx-table-cell-border-color, #ddebf7; /* #c6e0b4 Green from User Needs Wizard */
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0em; /* 0 */
}

.step-summary-table .table-row-cell:selected {
  -fx-table-cell-border-color: #ddebf7;
  -fx-background-color: #ed7d31;
  -fx-background-insets: 0, 2 2 2 2;
  -fx-padding: 0em; /* 0 */
}

.step-summary-table .table-row-cell:selected .text {
  -fx-fill: black;
}

.step-output-title {
  -fx-background-color: #3366ff;
  -fx-text-fill: white;
  -fx-font-size: 28px;
  -fx-alignment: center;
}

.substep-title-label {
  -fx-background-color: #595959 ; /* Dark Grey: #595959   Navy: #0E298C*/
  -fx-text-fill: white;          /* yellowish gold */
  -fx-font-size: 24;
  -fx-font-family: "calibri";
  -fx-alignment: center;
}

.substep-list-title-label {
  -fx-background-color: white; /* Dark Grey: #595959   Navy: #0E298C*/
  -fx-text-fill: #ed7d31;          /* yellowish gold */
  -fx-font-size: 20;
  -fx-font-family: "calibri";
  -fx-alignment: center-left;
  -fx-border-radius: 10 10 0 0;
  -fx-background-radius: 10 10 0 0;
  -fx-padding: 0 0 0 250;
  -fx-font-weight: lighter;
  -fx-border-color: lightgrey;
  -fx-border-width: 1 1 0 1;
}

.substep-list-title-label-selected {
  -fx-background-color: #ed7d31; /* Dark Grey: #595959   Navy: #0E298C*/
  -fx-text-fill: white;          /* yellowish gold */
  -fx-font-size: 20;
  -fx-font-family: "calibri";
  -fx-alignment: center-left;
  -fx-border-radius: 10 10 0 0;
  -fx-background-radius: 10 10 0 0;
  -fx-padding: 0 0 0 250;
  -fx-font-weight: bold;
  -fx-underline: true;
  -fx-border-color: lightgrey;
  -fx-border-width: 1 1 0 1;
}

.navigator {
}

.navigator .tree-cell:selected {
  -fx-background-color: #ed7d31;
  -fx-text-fill: white;
}

.progress-bar {
  -fx-accent: #ed7d31; /**/
}

.output-dashboard {
  /*-fx-background-color: white;*/
  /*-fx-border-color: #bac5cc;*/
  /*-fx-border-width: 1px;*/
}

.status-bar {
  -fx-border-color: #bac5cc;
  -fx-border-width: 1px;
}

.status-bar .content BorderPane {
  -fx-padding: 0em 0em 0.1em 0.4em;
}

.dashboard-toggle,
.dashboard-toggle:focused {
  /*    -fx-background-color: transparent;*/
  /*    -fx-text-fill: black;*/
  -fx-background-radius: 0.1em 0em 0em 0.1em;
}

.dashboard-toggle:selected,
.dashboard-toggle:selected:focused {
  -fx-background-color: #ed7d31;
  -fx-text-fill: white;
  -fx-background-radius: 0em;
}

.dashboard-tab-selector {
  -fx-border-color: #ed7d31;
  -fx-border-width: 0px 0px 0px 0px;
}

.dashboard-tab {
  -fx-border-color: #ed7d31;
  -fx-border-width: 5px 5px 5px 10px;
}

.opt-pane-title {
  -fx-text-alignment: center;
  -fx-alignment: center;
  -fx-background-color: #bac5cc;
  -fx-font-family: "calibri";
  -fx-wrap-text: true;
  -fx-font-size: 18;
  -fx-font-weight: bold;
  -fx-padding: 0 5 0 5;
}

.opt-pane-question {
  -fx-background-color: white;
  -fx-font-family: "calibri";
  -fx-font-size: 18;
}

.opt-pane-question-idx-v1 {
  -fx-alignment: center;
  -fx-background-color: white;
  -fx-font-family: "calibri";
  -fx-font-size: 18;
  -fx-font-weight: bold;
}

.opt-pane-question-idx {
  -fx-alignment: top-center;
  -fx-background-color: white;
  -fx-font-family: "calibri";
  -fx-font-size: 18;
  -fx-font-weight: bold;
  -fx-border-radius: 20;
  -fx-background-radius: 20;
}
.comment-border-styles {
  -fx-border-color: lightgrey;
  -fx-border-radius: 10;
}
.comment-label-style {
    -fx-text-fill: #4472c4; /* blue */
    -fx-font-size: 18pt;
    -fx-background-color: white;
    -fx-background-radius: 10 10 0 0;
    -fx-border-radius: 10 10 0 0;
}
.comment-sub-label {
  -fx-text-fill: #4472c4;
  -fx-font-weight: lighter;
  -fx-font-size: 12pt;
  -fx-font-style: italic;
  -fx-background-color: white;
  -fx-border-radius: 20pt;
}
.comment-pane-checkbox {
  -fx-alignment: center;
  -fx-background-color: white;
  -fx-font-family: "calibri";
  -fx-font-size: 18;
  -fx-accent: #ed7d31;
}
.label-styles {
  -fx-font-size: 12pt;
  -fx-text-fill: #ed7d31;
}
.modal-title{
  -fx-font-size: 13pt;
  -fx-text-fill: #ed7d31;
  -fx-font-weight: lighter;
}
.stakeholder-modal-title{
  -fx-font-size: 13pt;
  -fx-text-fill: #ed7d31;
  -fx-font-weight: lighter;
}
.stakeholder-modal-labels{
  -fx-font-size: 13pt;
  -fx-text-fill: #4472c4;
  -fx-font-weight: lighter;
}
.comment-pane-button {
   -jfx-button-type: FLAT;
   -fx-background-color: white;
   -fx-text-fill: #4472c4;
   -fx-border-radius: 2pt;
   -fx-border-color: #4472c4;
   -fx-background-radius: 2pt;
   -fx-font-weight: bold;
   -fx-font-size: 10pt;
}

.comment-pane-button:hover {
  -fx-background-color: rgb(68, 114, 196, 0.1)
}
.modal-pane-button {
  -jfx-button-type: FLAT;
  -fx-background-color: #4472c4;
  -fx-text-fill: white;
  -fx-border-radius: 2pt;
  -fx-border-color: #4472c4;
  -fx-background-radius: 2pt;
  
  -fx-font-size: 12pt;
}
.comment-pane-buttonClose {
   -jfx-button-type: FLAT;
   -fx-background-color: rgb(255, 255, 255);
   -fx-text-fill: #A0A1AC;
   -fx-border-radius: 2pt;
   -fx-border-color: #A0A1AC;
   -fx-background-radius: 2pt;
   -fx-font-weight: bold;
   -fx-font-size: 12pt;
}
.question-gridLeft-styles {
  -fx-border-radius: 20pt;
  -fx-background-radius: 20pt;
  -fx-border-width: 1 0 1 1;
}
.question-gridRight-styles {
  -fx-border-radius: 20pt;
  -fx-background-radius: 20pt;
  -fx-border-width: 1 1 1 0;
}
.question-grid-main {
  -fx-border-radius: 20;
  -fx-background-radius: 20;
  -fx-border-color: lightgrey;
}
.comment-q-pane {
  -fx-background-color: white;
  /*-fx-border-color: #bac5cc;*/
  -fx-border-width: 1px 1px 1px 1px;
  -fx-border-radius: 20 20 20 20;
  -fx-background-radius: 20 20 20 20;
}

.comment-q-subpane {
  -fx-background-color: white;
}

.comment-q-pane-v1 {
  -fx-background-color: white;
  -fx-border-color: #bac5cc;
  -fx-border-width: 1px 1px 1px 1px;
}

.comment-q-subpane-v1 {
  -fx-background-color: white;
}

.markall-pane-checkbox {
  -fx-alignment: center;
  -fx-background-color: white;
  -fx-font-family: "calibri";
  -fx-font-size: 18;
  -fx-accent: #ed7d31;
}

.opt-pane-question-response {
  -fx-alignment: center;
  -fx-background-color: transparent; /* #ed7d31 */
  -fx-font-family: "calibri";
  -fx-text-fill: #ed7d31;
  -fx-font-size: 11pt;
  -fx-font-weight: bold;
}

.feasibility-output-title-bold {
  -fx-background-color: #4472c4;
  -fx-text-fill: white;
  -fx-alignment: center;
  -fx-font-family: "calibri";
  -fx-font-size: 28;
}

.feasibility-output-title {
  -fx-background-color: #ddebf7;
  -fx-alignment: center;
  -fx-font-family: "calibri";
  -fx-font-size: 28;
  -fx-underline: true;
}

.feasibility-output-desc {
  -fx-background-color: #ddebf7;
  -fx-alignment: center; /*basic alignment*/
  -fx-text-alignment: center; /*multiline alignment*/
  -fx-font-family: "calibri";
  -fx-font-size: 20;
}

.list-table-core-team {
  -fx-accent: #4ac974;
  -fx-font-size: 18;
}

.list-table-core-team .column-header-background {
  -fx-background-color: #4ac974;
}

.list-table-core-team .column-header-background .label {
  -fx-background-color: transparent;
  -fx-wrap-text: true;
  -fx-text-fill: black;
}

.list-table-core-team .column-header {
  -fx-background-color: transparent;
}

.list-table-core-team .table-column .label {
  -fx-content-display: right;
}

.list-table-core-team .table-row-cell {
  -fx-background-color: -fx-table-cell-border-color, #bce5c9; /* #c6e0b4 Green from User Needs Wizard */
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0em; /* 0 */
}

.list-table-core-team .table-row-cell:selected {
  -fx-table-cell-border-color: #bce5c9;
  -fx-background-color: #ed7d31;
  -fx-background-insets: 0, 2 2 2 2;
  -fx-padding: 0em; /* 0 */
}

.list-table-core-team .table-row-cell:selected .text {
  -fx-fill: black;
}

.list-table-stakeholder {
  -fx-accent: #f7f56a;
  -fx-font-size: 18;
}

.list-table-stakeholder .column-header-background {
  -fx-background-color: #f7f56a;
}

.list-table-stakeholder .column-header-background .label {
  -fx-background-color: transparent;
  -fx-wrap-text: true;
  -fx-text-fill: black;
}

.list-table-stakeholder .column-header {
  -fx-background-color: transparent;
}

.list-table-stakeholder .table-column .label {
  -fx-content-display: right;
}

.list-table-stakeholder .table-row-cell {
  -fx-background-color: -fx-table-cell-border-color, #fcfbbd; /* #c6e0b4 Green from User Needs Wizard */
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0em; /* 0 */
}

.list-table-stakeholder .table-row-cell:selected {
  -fx-table-cell-border-color: #fcfbbd;
  -fx-background-color: #ed7d31;
  -fx-background-insets: 0, 2 2 2 2;
  -fx-padding: 0em; /* 0 */
}

.list-table-stakeholder .table-row-cell:selected .text {
  -fx-fill: black;
}

.list-table-na {
  -fx-accent: #bac5cc;
  -fx-font-size: 18;
}

.list-table-na .column-header-background {
  -fx-background-color: #bac5cc;
}

.list-table-na .column-header-background .label {
  -fx-background-color: transparent;
  -fx-wrap-text: true;
  -fx-text-fill: black;
}

.list-table-na .column-header {
  -fx-background-color: transparent;
}

.list-table-na .table-column .label {
  -fx-content-display: right;
}

.list-table-na .table-row-cell {
  -fx-background-color: -fx-table-cell-border-color, white; /* #c6e0b4 Green from User Needs Wizard */
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0em; /* 0 */
}

.list-table-na .table-row-cell:selected {
  -fx-table-cell-border-color: white;
  -fx-background-color: #ed7d31;
  -fx-background-insets: 0, 2 2 2 2;
  -fx-padding: 0em; /* 0 */
}

.list-table-na .table-row-cell:selected .text {
  -fx-fill: black;
}

.fact-sheet-pane {
  -fx-background-color: white;
  -fx-border-width: 1px 1px 1px 1px;
}

.fact-sheet-pane-info {
  -fx-border-color: black;
}

.fact-sheet-pane-goal {
  -fx-background-color: white;
  -fx-border-color: black;
  -fx-border-width: 1px 1px 1px 1px;
}

.fact-sheet-pane-feasibility {
  -fx-background-color: white;
  -fx-border-color: black;
  -fx-border-width: 2px 2px 2px 2px;
}

.fact-sheet-title-large {
  -fx-background-color: #595959; /* #bac5cc */
  -fx-text-fill: white; /* black */
  -fx-alignment: center;
  -fx-font-size: 24pt;
  -fx-font-weight: bold;
  -fx-font-family: "calibri";
  -fx-border-color: black;
  -fx-border-width: 2px 2px 1px 2px;
}
.fact-sheet-title-small {
  -fx-background-color: #4472c4;
  -fx-text-fill: white;
  -fx-alignment: center;
  -fx-font-size: 20;
  -fx-font-weight: bold;
  -fx-font-family: "calibri";
  -fx-border-color: black;
  -fx-border-width: 1px 1px 1px 1px;
}

.fact-sheet-label {
  -fx-background-color: white;
  -fx-text-fill: black;
  -fx-font-size: 16;
  -fx-font-family: "calibri";
  -fx-text-overrun: ellipsis;
  -fx-wrap-text: true;
  -fx-border-color: black;
  -fx-border-width: 1px 1px 1px 1px;
  -fx-padding: 0 0 0 5;
}

.fact-sheet-label-center {
  -fx-background-color: white;
  -fx-text-fill: black;
  -fx-font-size: 16;
  -fx-font-family: "calibri";
  -fx-text-overrun: ellipsis;
  -fx-wrap-text: true;
  -fx-border-color: black;
  -fx-border-width: 1px 1px 1px 1px;
  -fx-padding: 0 0 0 5;
  -fx-alignment: center;
}

.fact-sheet-label-bold {
  -fx-background-color: white;
  -fx-text-fill: black;
  -fx-font-size: 16;
  -fx-font-weight: bold;
  -fx-font-family: "calibri";
  -fx-text-overrun: ellipsis;
  -fx-wrap-text: true;
  -fx-border-color: black;
  -fx-border-width: 1px 1px 1px 2px;
  -fx-padding: 0 0 0 5;
}

.fact-sheet-label-url {
  -fx-background-color: white;
  -fx-text-fill: dodgerblue;
  -fx-font-size: 16;
  -fx-font-weight: bold;
  -fx-font-family: "calibri";
  -fx-text-overrun: ellipsis;
  -fx-wrap-text: true;
  -fx-border-color: black;
  -fx-border-width: 1px 1px 1px 1px;
}

.fact-sheet-description {
  -fx-background-color: white;
  -fx-text-fill: black;
  -fx-font-size: 16;
  -fx-font-family: "calibri";
  -fx-text-overrun: ellipsis;
  -fx-wrap-text: true;
  -fx-border-color: black;
  -fx-border-width: 1px 1px 1px 1px;
  -fx-padding: 0 0 0 5;
}

.fact-sheet-label-goal-bold {
  -fx-background-color: #ddebf7;
  -fx-text-fill: black;
  -fx-font-size: 16;
  -fx-font-weight: bold;
  -fx-font-family: "calibri";
  -fx-text-overrun: ellipsis;
  -fx-wrap-text: true;
  -fx-border-color: black;
  -fx-border-width: 1px 1px 1px 1px;
  -fx-padding: 2 0 2 5;
}

.fact-sheet-label-goal-bold-center {
  -fx-background-color: #ddebf7;
  -fx-text-fill: black;
  -fx-font-size: 16;
  -fx-font-weight: bold;
  -fx-font-family: "calibri";
  -fx-text-overrun: ellipsis;
  -fx-wrap-text: true;
  -fx-border-color: black;
  -fx-border-width: 1px 1px 1px 1px;
  -fx-padding: 2 0 2 5;
  -fx-alignment: center;
}

.fact-sheet-label-goal {
  -fx-background-color: #ddebf7;
  -fx-text-fill: black;
  -fx-font-size: 16;
  -fx-font-family: "calibri";
  -fx-text-overrun: ellipsis;
  -fx-wrap-text: true;
  -fx-border-color: black;
  -fx-border-width: 1px 1px 1px 1px;
  -fx-padding: 2 0 2 5;
}

.fact-sheet-label-goal-center {
  -fx-background-color: #ddebf7;
  -fx-text-fill: black;
  -fx-font-size: 16;
  -fx-font-family: "calibri";
  -fx-text-overrun: ellipsis;
  -fx-wrap-text: true;
  -fx-border-color: black;
  -fx-border-width: 1px 1px 1px 1px;
  -fx-padding: 2 0 2 5;
  -fx-alignment: center;
}

.fact-sheet-title-stake-grid {
  -fx-background-color: #595959;
  -fx-text-fill: white;
  -fx-alignment: center;
  -fx-font-size: 20;
  -fx-font-family: "calibri";
  -fx-border-color: black;
  -fx-border-width: 1px 1px 1px 1px;
  -fx-padding: 2 0 2 5;
}
.fact-sheet-title-core-team {
  -fx-background-color: #bac5cc;
  -fx-text-fill: black;
  -fx-alignment: center;
  -fx-font-size: 18;
  -fx-font-weight: bold;
  -fx-font-family: "calibri";
  -fx-border-color: black;
  -fx-border-width: 1px 1px 1px 1px;
  -fx-padding: 2 0 2 5;
}
.fact-sheet-title-stakeholder {
  -fx-background-color: #bac5cc;
  -fx-text-fill: black;
  -fx-alignment: center;
  -fx-font-size: 18;
  -fx-font-weight: bold;
  -fx-font-family: "calibri";
  -fx-border-color: black;
  -fx-border-width: 1px 1px 1px 1px;
  -fx-padding: 2 0 2 5;
}

.fact-sheet-label-core-team {
  -fx-background-color: white;
  -fx-text-fill: black;
  -fx-font-size: 18;
  -fx-font-family: "calibri";
  -fx-border-color: black;
  -fx-border-width: 1px 1px 1px 1px;
  -fx-padding: 2 0 2 5;
}
.fact-sheet-label-stakeholder {
  -fx-background-color: white;
  -fx-text-fill: black;
  -fx-font-size: 18;
  -fx-font-family: "calibri";
  -fx-border-color: black;
  -fx-border-width: 1px 1px 1px 1px;
  -fx-padding: 2 0 2 5;
}

.cell-span-table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell {
    -fx-skin: "net.jonathangiles.hacking.tableview.cellSpan.impl.CellSpanTableRowSkin";
}

.cell-span-table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell {
    -fx-background-color: transparent;
} 

/* All table-row-cells - we don't care if they are even or odd */
.cell-span-table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 1 1 0;
    -fx-alignment: center;
}

/** Selection styles */
/*.cell-span-table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell:focused:selected, */
.cell-span-table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected > .table-cell,
.cell-span-table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:focused:selected > .table-cell,
.cell-span-table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:focused:selected:hover > .table-cell,
.cell-span-table-view:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell:filled:selected,
.cell-span-table-view:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell:filled:focused:selected,
.cell-span-table-view:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell:filled:focused:selected:hover {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 2 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

/** Hover styles */
/** --- Row selection mode hover */
.cell-span-table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:hover > .table-cell { 
    -fx-background-color: -fx-table-cell-border-color, -fx-cell-hover-color;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-fill: -fx-text-inner-color;
}

.cell-span-table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:focused:hover > .table-cell  { 
    -fx-background-color: -fx-table-cell-border-color, -fx-focus-color, -fx-cell-focus-inner-border, -fx-cell-hover-color;
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 2 3 2, 3 3 4 3;
    -fx-text-fill: -fx-text-inner-color;
}

/** --- Cell selection mode hover */
.cell-span-table-view:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled > .table-cell:hover {
    -fx-background-color: -fx-table-cell-border-color, -fx-cell-hover-color;
    -fx-text-fill: -fx-text-inner-color;
    -fx-background-insets: 0, 0 0 1 0;
}

.cell-span-table-view:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled > .table-cell:focused:hover {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-cell-hover-color;
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 2 2;
    -fx-text-fill: -fx-text-inner-color;
}
/** End of hover styles */

/**updated fact sheet tabs style **/
.input-tab-panel .jfx-tab-pane .tab-header-area .jfx-rippler {
  -jfx-rippler-fill: -fx-focus-color;
}

.input-tab-panel .jfx-tab-pane .tab-header-background {
  -fx-background-color: -fx-accent-primary;
}

.input-tab-panel .jfx-tab-pane .tab-selected-line {
  -fx-background-color: -fx-accent-primary;
  -fx-pref-height: 5;
}

.input-tab-panel .jfx-tab-pane .tab .tab-label {
  -fx-font-family: "Nunito", sans-serif;
  -fx-text-fill: -fx-focus-color;
  -fx-font-size: 14pt;
  -fx-font-weight: normal;
  -fx-font-style: italic;
  -fx-content-display: right;
}

.input-tab-panel .jfx-tab-pane .tab:selected .tab-label {
  /* -fx-font-family: "Nunito", sans-serif; */
  -fx-font-style: normal;
  -fx-text-fill: -fx-focus-color;
}
.animation-style-on{
    -fx-text-fill: white;
    -fx-background-color: orange;
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
    -fx-stoke: solid;
    -fx-border-color: orange;
    -fx-border-width: 1px;
}
.animation-style-off{
    -fx-background-color: white;
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
   }
   /* the following section is Jfoenix styles for the VC wizard */

.jfx-button-style {
  -jfx-button-type: FLAT; 
  -fx-border-color: #4472c4; 
  -fx-background-color: #4472c4; 
  -fx-text-fill: white; 
  -fx-border-radius: 4px;
  -fx-font-size: 12pt;
}

.upload-button-style {
  -jfx-button-type: RAISED;
  -fx-border-color: #4472c4;
  -fx-background-color: #4472c4;
  -fx-text-fill: white;
  -fx-border-radius: 4px;
  -fx-font-size: 12pt;
}

.new-project-button-style {
  -jfx-button-type: RAISED;
  -fx-border-color: #4472c4;
  -fx-background-color: #4472c4;
  -fx-text-fill: white;
  -fx-border-radius: 4px;
  -fx-font-size: 24pt;
  -fx-alignment: center;
  -fx-text-alignment: center;
}

.default-text-button {
  -fx-background-color: transparent;
  -fx-text-fill: black;
}

.default-text-button:hover {
  -fx-underline: true;
  -fx-background-color: rgba(0, 0, 0, 0.25);
}
.custom-tab-pane {
  -fx-tab-min-height: 3em;
  /* 24 */

  -fx-tab-max-height: 3em;
  /* 24 */
}

.custom-tab-pane .tab .tab-label {
  -fx-background-color: transparent;
  -fx-alignment: CENTER;
  -fx-text-fill: darkgrey;
  -fx-font-size: 12pt;
}
.custom-tab-pane .tab {
  -fx-background-insets: 0.0;
  -fx-background-radius: 0.0;
  -fx-background-color: -fx-tab-header-background-color;
  -fx-border-width: 1px;
  -fx-border-color: transparent transparent darkgrey transparent;
}
.custom-tab-pane .tab:selected {
  -fx-background-color: #f4f4f4;
  -fx-border-color: darkgrey darkgrey transparent darkgrey;
  -fx-border-width: 1px;
}

.custom-tab-pane .tab:selected .tab-label {
  -fx-text-fill: -fx-tab-color-selected;
}

.custom-tab-pane .tab:hover .tab-label {
  -fx-text-fill: -fx-tab-color-hover;
}

.custom-tab-pane .tab:focused {
  -fx-focus-color: transparent;
}
.custom-tab-pane .tab {
  -fx-padding: 0 30 0 30;
  /* -fx-border-color: darkgrey; */
  /* -fx-border-width: 1px; */
}
.custom-tab-pane *.tab-header-background {
  -fx-background-color: -fx-tab-header-background-color;
  -fx-border-color: darkgrey;
  -fx-border-width: 0 0 1px 0;
}
.custom-tab-pane:top *.tab-header-area { /*.tab-pane:top*/
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0.416667em 0.166667em 0.0em 0.166667em;
}
.custom-tab-pane .tab:selected .focus-indicator {
  -fx-focus-color: transparent;
  -fx-border-color: transparent;
}

.custom-subtitle-tab-pane {
  -fx-tab-min-height: 3em;
  /* 24 */

  -fx-tab-max-height: 3em;
  /* 24 */
}
.custom-subtitle-tab-pane .tab .tab-label {
  -fx-background-color: transparent;
  -fx-alignment: CENTER;
  -fx-text-fill: -fx-background-dark;
  -fx-font-size: 12pt;
}
.custom-subtitle-tab-pane .tab {
  -fx-background-insets: 0.0;
  -fx-background-radius: 0.0;
  -fx-background-color: #bac5cc;
  -fx-border-width: 1px;
  -fx-border-color: transparent transparent darkgrey transparent;
}
.custom-subtitle-tab-pane  .tab:selected {
  -fx-background-color: #f4f4f4;
  -fx-border-color: darkgrey darkgrey transparent darkgrey;
  -fx-border-width: 1px;
}

.custom-subtitle-tab-pane  .tab:selected .tab-label {
  -fx-text-fill: -fx-tab-color-selected;
}

.custom-subtitle-tab-pane  .tab:hover .tab-label {
  -fx-text-fill: -fx-tab-color-hover;
}

.custom-subtitle-tab-pane  .tab:focused {
  -fx-focus-color: transparent;
}
.custom-subtitle-tab-pane  .tab {
  -fx-padding: 0 30 0 30;
  /* -fx-border-color: darkgrey; */
  /* -fx-border-width: 1px; */
}
.custom-subtitle-tab-pane  *.tab-header-background {
  -fx-background-color: #bac5cc;
  -fx-border-color: darkgrey;
  -fx-border-width: 0 0 1px 0;
}
.custom-subtitle-tab-pane :top *.tab-header-area { /*.tab-pane:top*/
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0.416667em 0.166667em 0.0em 0.166667em;
}
.custom-subtitle-tab-pane .tab:selected .focus-indicator {
  -fx-focus-color: transparent;
  -fx-border-color: transparent;
}

.scroll-pane {
  -fx-background-color: transparent;
}

.scroll-pane:focused {
  -fx-background-color: -fx-box-border, -fx-control-inner-background;
  -fx-background-insets: 0, 1;
  /* -fx-padding: 1; */
  -fx-background-color: transparent;
}

.scroll-bar {
  -fx-background-color: transparent;
  -fx-background-radius: 1em;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-radius: 1em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 1em;
}
.scroll-bar:horizontal .thumb {
  -fx-background-color: rgb(194, 199, 202);
  -fx-background-insets: 4 0 4 0;
  -fx-background-radius: 1em;
}
.scroll-bar:vertical .thumb {
  -fx-background-color: rgb(194, 199, 202);
  -fx-background-insets: 0 4 0 4;
  -fx-background-radius: 1em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
  -fx-background-color: rgb(168, 168, 168);
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
  -fx-background-color: rgb(120, 120, 120);
}
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 1em;
  -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 1em;
  -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
  -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
  -fx-background-color: rgb(168, 168, 168);
  -fx-padding: 0.25em;
  -fx-rotate: -90;
}
.scroll-bar:horizontal .increment-arrow:hover,
.scroll-bar:horizontal .decrement-arrow:hover,
.scroll-bar:vertical .increment-arrow:hover,
.scroll-bar:vertical .decrement-arrow:hover {
  -fx-background-color: rgb(120, 120, 120);
}
.scroll-bar:horizontal .increment-arrow:pressed,
.scroll-bar:horizontal .decrement-arrow:pressed,
.scroll-bar:vertical .increment-arrow:pressed,
.scroll-bar:vertical .decrement-arrow:pressed {
  -fx-background-color: rgb(80, 80, 80);
}

.scroll-bar:vertical .increment-arrow {
  -fx-background-color: rgb(168, 168, 168);
  -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
  -fx-padding: 0.25em;
  -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
  -fx-background-color: rgb(168, 168, 168);
  -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
  -fx-padding: 0.25em;
  -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
  -fx-background-color: rgb(168, 168, 168);
  -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
  -fx-padding: 0.25em;
  -fx-rotate: -180;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
  -fx-background-color: transparent, rgb(96, 96, 96), rgb(96, 96, 96);
}

.hyperlink:visited {
    -fx-underline: false;
}

.hyperlink:visited:hover {
    -fx-underline: false;
}

.modal-comment-text-area {
  -fx-font-size: 12pt;
  -fx-prompt-text-fill: grey;
}

.modal-comment-text-area:focused {
  -fx-prompt-text-fill: transparent;
}

.jfx-check-box {
  -jfx-checked-color: #ED7D31;
  -fx-font-size: 12pt;
}

.comment-pane-combo-box {
  -fx-font-size:  12pt;
  -fx-background-color: rgba(0, 0, 0, 0.05);
  -fx-background-radius: 5px 5px 0 0;
  -jfx-focus-color: #ED7D31;
}

.comment-pane-combo-box:hover {
  -fx-background-color: rgba(0, 0, 0, 0.10);
  -fx-background-radius: 5px 5px 0 0;
}

.label-additional-justification {
  -fx-font-style: italic;
  -fx-underline: true;
  -fx-background-color: white;
  -fx-text-fill: black;
  -fx-font-size: 14pt;
}

.feasibility-justification {
  -fx-font-style: italic;
  -fx-font-size: 12pt;
  -fx-background-color: white;
  -fx-text-fill: black;
  -fx-alignment: center-left;
  -fx-text-alignment: left;
}

.feasibility-justification-card {
  -fx-border-radius: 5px;
  -fx-border-color: #bac5cc;
}

.jfx-value-spinner {
  /*-fx-background-color: rgba(0, 0, 0, 0.025);*/
  -fx-background-color: white;
  -fx-background-radius: 5px 5px 0 0;
  -fx-font-size: 12pt;
}

.jfx-value-spinner:hover {
  -fx-background-color: rgba(0, 0, 0, 0.05);
  -fx-background-radius: 5px 5px 0 0;
}

.jfx-value-spinner .jfx-text-field {
  -fx-background-color: transparent;
  -jfx-focus-color: #ED7D31;
  -fx-alignment: center;
  -fx-text-alignment: center;
  -fx-font-size: 11pt;
}

.jfx-value-spinner .jfx-text-field:hover {
  -jfx-unfocus-color: -custom-jfx-hover-unfocus-color;
}

.jfx-value-spinner .jfx-button {
  -fx-background-color: transparent;
}

.jfx-value-spinner .up-button {
 -fx-background-radius: 0 5px 0 0;
}

.jfx-value-spinner .down-button {
 -fx-background-radius: 0 0 0 0;
}

.custom-jfx-combo-box {
  -fx-alignment: center;
  -fx-text-alignment: center;
  -jfx-focus-color: #ED7D31;
  -fx-background-color: rgba(0, 0, 0, 0.025);
  -fx-background-radius: 5px 5px 0 0;
}

.custom-jfx-combo-box .list-cell {
  -fx-alignment: center;
  -fx-font-size: 11pt;
}

.custom-jfx-combo-box:hover {
  -fx-background-color: rgba(0, 0, 0, 0.05);
  -fx-background-radius: 5px 5px 0 0;
  -jfx-unfocus-color: -custom-jfx-hover-unfocus-color;
}

.custom-jfx-text-field {
  -fx-background-color: white;
  -jfx-focus-color: #ED7D31;
  -fx-font-size: 12pt;
  -fx-background-radius: 5px 5px 0 0;
}

.custom-jfx-text-field:hover {
  -fx-background-color: rgba(0, 0, 0, 0.025);
  -jfx-unfocus-color: -custom-jfx-hover-unfocus-color;
}

.custom-jfx-text-area {
  -fx-font-family: "calibri";
  -fx-font-size: 12pt;
  -fx-background-color: white;
  -jfx-focus-color: #ED7D31;
  -fx-background-radius: 5px 5px 0 0;
}

.custom-jfx-text-area:hover {
  -fx-background-color: rgba(0, 0, 0, 0.025);
  -jfx-unfocus-color: -custom-jfx-hover-unfocus-color;
}

.flow-v2 {
  -fx-background-color: #f4f4f4;
}

.flow-v2 .custom-button {
  -fx-padding: 0 10px 0 10px;
  -fx-font-size: 12pt;
  -fx-alignment: center;
  -fx-text-alignment: center;
  -fx-font-family: "calibri";
}
.flow-v2 .custom-button:hover {
  -fx-underline: true;
}

.flow-v2 .custom-button:disabled {
  -fx-opacity: 0.4;
}

.flow-v2 .intro-button {
  -fx-shape: "M 0 0 L 400 0 L 425 25 L 400 50 L 0 50 z";
}

.flow-v2 .step-button {
  -fx-shape: "M 0 0 L 400 0 L 425 25 L 400 50 L 0 50 L 25 25 z";
}

.flow-v2 .summary-button {
  -fx-shape: "M 0 0 L 425 0 L 425 50 L 0 50 L 25 25 z";
}

/*.flow-v2 .intro-button:disabled {
  -fx-opacity: 0.4;
}

.flow-v2 .step-button:disabled {
  -fx-opacity: 0.4;
}

.flow-v2 .summary-button:disabled {
  -fx-opacity: 0.4;
}*/

.flow-v2 .color-light-grey {
  -fx-background-color: -color-wzits-lightgrey;
  -fx-text-fill: black;
}

.flow-v2 .color-orange {
  -fx-background-color: -color-wzits-orange;
  -fx-text-fill: white;

}

.flow-v2 .color-burnt-orange {
  -fx-background-color: -color-wzits-burnt-orange;
  -fx-text-fill: white;

}

.flow-v2 .color-blue {
  -fx-background-color: -color-wzits-blue;
  -fx-text-fill: white;

}

.flow-v2 .color-light-blue {
  -fx-background-color: -color-wzits-lightblue;
  -fx-text-fill: black;
}

.return-button:hover{
  -fx-background-color: rgba(237, 125, 49, 0.1);
}

.flow-v2 .color-light-grey-v2 {
  -fx-background-color: -color-wzits-lightgrey;
  -fx-text-fill: black;
}

.flow-v2 .color-orange-v2 {
  -fx-background-color: -color-wzits-orange;
  -fx-border-color: -color-wzits-orange;
  -fx-text-fill: white;
}

.flow-v2 .color-burnt-orange-v2 {
  -fx-background-color: white;
  -fx-border-color: -color-wzits-orange;
  -fx-text-fill: -color-wzits-orange;
}

.flow-v2 .color-blue-v2 {
  -fx-background-color: white;
  -fx-border-color: -color-wzits-blue;
  -fx-text-fill: -color-wzits-blue;
}

.flow-v2 .color-light-blue-v2 {
  -fx-background-color: -color-wzits-blue;
  -fx-border-color: -color-wzits-blue;
  -fx-text-fill: white;
}